
   @media only screen and (max-width : 1024px) {

   }
  
  
   @media only screen and (min-width: 768px) and (max-width: 959px) {
		.banner {width:100%; height:480px !important;}
    .banner-pf {width:100%; height:430px !important;}
    .banner-pf ul li img {height:430px !important;}
		.tp-rr1 {margin-left: -82px !important; margin-top: 8px !important;}    
		.tp-rr2 {margin-left: -42px !important; margin-top: 8px !important;}
		.tp-rr3 {margin-left: -5px !important; margin-top: 8px !important;}
		.tp-rr4 {margin-left: -57px !important; margin-top: 20px !important;}
   }

   @media only screen and (min-width: 480px) and (max-width: 767px) {
		.banner{width:100%; height:390px !important;}
    .banner-pf {width:100%; height:320px !important;}
    .banner-pf ul li img {height:320px !important;}
    .tp-rr1 {margin-left: -64px !important; margin-top: 8px !important;}
    .tp-rr2 {margin-left: -64px !important; margin-top: 2px !important;}
    .tp-rr3 {margin-left: -12px !important; margin-top: 2px !important;}
    .tp-rr4 {margin-left: -92px !important; margin-top: 20px !important;}

    .tp-rr1 h1 {font-size: 26px !important}
    .tp-caption.button, .button {padding-top:7px !important; padding-bottom:10px !important;}

    .banner-blog {width:100%; height:270px !important;}
    .banner-blog ul li img {height:270px !important;}
   }

   @media only screen and (min-width: 0px) and (max-width: 479px) {
		.banner{width:100%; height:360px !important;}
    .banner-pf {width:100%; height:190px !important;}
    .banner-pf ul li img {height:190px !important;}
    .tp-rr1 {margin-left: -43px !important; margin-top: 22px !important;}
    .tp-rr2 {margin-left: -13px !important; margin-top: -1px !important;}
    .tp-rr3 {margin-left: -76px !important; margin-top: 37px !important;}

    .tp-rr1 h1 {font-size: 15px !important}
    .tp-caption.button, .button {padding-top:6px !important; padding-bottom:8px !important;}
    .tp-caption p {display: none;}

    .banner-blog {width:100%; height:160px !important;}
    .banner-blog ul li img {height:160px !important;}
   }