/* ESTILOS GERAIS*/
a {
	text-decoration: none;
	font-family: arial sans-serif;
}
a:hover {
	color: #bbb;
}
.pull-right {
	float: right;
}
.container {
	margin: 0 auto;
	max-width: 980px;
}
.logo {
	width: 110px;
	float: right;
}
.btn-default {
	padding: 4px 10px;
}

* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
	font-family: 'Abel', sans-serif;
}

input[type='text'] {
	padding: 3px 10px;
	margin: 0 2px;
	width: 275px;
	font-size: 15px;
	border: none;
}

select {
	padding: 3px 10px;
	margin: 0 2px;
	font-size: 13px;
	border: none;
}

button {
	border: none;
	background: white;
	margin: 0 2px;
}

input[type='checkbox']
{
	vertical-align: middle;
	margin: 0 5px 0 20px;
	transform: scale(1.3);
 	padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

/*HEADER*/
.header-wrapper{
	margin: 0 auto;
	display: block;
}

.titulo-centralizado {
	text-align: center;
	margin: 18px 0;
	color: #0070C0;
	width: 100%;

}
.header-title > h1 > img {
	margin-top: -15px;
}


.header-menu{
	width: 16.33%;

	background-color: #0070C0;
	height: 30px;
	color: #FFFFFF;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
}

.header-help {
	width: 100%;
	background: #0070C0;
	margin: 5px 0 0 0;
	float: right;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-help li {
	display: inline-block;
	color: white;
	margin: 3px 10px;
}

.header-help li a {
	color: #efefef;
}

.header-search {
	width: 100%;
	background: #efefef;
	margin: 5px 0;
	float: right;

}
.header-search li {
	display: inline-block;
	margin: 3px 10px;
}

.tab-pane {
	margin: 5px 0;
	background: #dedede;
	padding: 5px 10px;
}

/*Content Busca Combinada*/
#buscaCombinada span {
	margin-left: 10px;
}

#buscaCombinada ul li {
	margin: 5px 5px;
}

#buscaCombinada > ul > li:nth-child(1) > input:nth-child(5),          #buscaCombinada > ul > li:nth-child(1) > input:nth-child(6){
	width: 100px;
}